/** @format */
/* 
body {
  -webkit-print-color-adjust: exact !important;
}
body {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}
.page {
  background-color: white !important;
} */
/* .printHead {
  background-color: green !important;
}  */